* {
    box-sizing: border-box;
}

:root {
    --primary-color: #152427;
    --secondary-color: #E2EDDF;
    --desc-color: #7D8188;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    font-family: 'Public Sans', sans-serif;
}

/* =============================== Common =============================== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    /* background-color: orange; */
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 173px;
    height: 57px;
    padding: 15px 54px;
    border: 1.5px solid #143C3C;
    border-radius: 40px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: var(--primary-color);
}

.section-heading {
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: var(--primary-color);
}

.section-desc-first,
.section-desc-second,
.section-desc-third {
    font-weight: 500;
    color: var(--desc-color);
}

.section-desc-first {
    font-size: 1.4rem;
    line-height: 1.71;
}

.section-desc-second {
    font-size: 1.6rem;
    line-height: 1.62;
}

.section-desc-third {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 1.55;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* =============================== Header =============================== */
.header {
    min-height: 100vh;
    padding-top: 28px;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-action {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    margin-right: 88px;
}

.navbar__link {
    padding: 8px 19px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
    transition: .25s;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: 37px;
    left: 17px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--primary-color);
}

.header-dash {
    margin-top: 13px;
    height: 1px;
    background: linear-gradient(90deg, #FFFFFF 0%, #DDDCDC 51.09%, rgba(213, 213, 213, 0) 99.68%);
}

/* =============================== Hero =============================== */
.hero {
    margin-top: 60px;
    display: flex;
    column-gap: 76px;
}

.hero__content {
    margin-top: 43px;
    flex-shrink: 0;
    max-width: 35%;
}

.hero__heading {
    width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--primary-color);
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    color: #575D5E;
}

.hero__row {
    display: flex;
    align-items: center;
    column-gap: 30px;
    flex-shrink: 0;
    margin-top: 42px;
}

.hero__header--btn {
    padding: 15px 35px;
}

.hero__play {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 60px;
    padding: 0;
    border: none;
    color: #152427;
    background-color: transparent;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
    transition: .25s;
}

.hero__play:hover {
    color: #83A17D;
}

.hero__play--border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    rotate: -45deg;
    transition: .25s;
}

.hero__play:hover .hero__play--border  {
    border: 4px solid var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    rotate: 135deg;
}

.hero__play--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: 8px;
    background-color: #83A17D;
    rotate: 45deg;
}

.hero__play:hover .hero__play--btn {
    rotate: -135deg;
}

/* =============================== Hero Media =============================== */
.hero__media {
    position: relative;
    max-width: 56.6%;
}

.hero__background--blur {
    position: absolute;
    top: 122px;
    left: 156px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    z-index: -1;
    background-color: #4DBB9A;
    filter: blur(137px);
}

.hero__images {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 446px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img--down {
    margin-top: 77px;
}

.header__hero--decor {
    position: absolute;
    top: -32px;
    left: -210px;
}

.header__hero--decor:last-child {
    top: 229px;
    left: 30px;
    rotate: 180deg;
}

/* =============================== Client =============================== */
.client {
    font-family: 'Poppins', sans-serif;
    margin-top: 130px;
}

.client__row {
    height: 201px;
    border-radius: 999px;
    padding: 76px 120px;
    background-color: var(--secondary-color);
}

.client__list,
.client__item {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.client__logo--name {
    padding-left: 14px;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.client__item:nth-child(2) {
    margin-left: 42px;
    margin-right: 55px;
}

.client__item:nth-child(4) {
    margin: 0 64px;
}

/* =============================== Service =============================== */
.service {
    margin-top: 106px;
    font-family: 'Poppins', sans-serif;
}

.service__title {
    position: relative;
    margin-left: 45px;
}

.service__title::before {
    position: absolute;
    top: 5px;
    left: -45px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background-color: var(--primary-color);
}

.service__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__heading {
    position: relative;
    margin-top: 12px;
    max-width: 520px;
}

.service__heading::after {
    position: absolute;
    bottom: 19px;
    right: 104px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: var(--primary-color);
}

.service__control {
    display: flex;
    column-gap: 17px;
}

.control__btn {
    width: 54px;
    height: 54px;
    outline: none;
    border: none;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: .25s;
}

.control__btn:last-child {
    rotate: 180deg;
}

.control__btn:hover {
    cursor: pointer;
    background-color: #143C3C;
}

.control__btn:hover .control__btn--arrow {
    color: #fff;
}

/* Service List */
.service__list {
    display: flex;
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    flex: 1;
    overflow: hidden;
    border-radius: 20px;
}

.service-item:hover {
    cursor: pointer;
    box-shadow: -6px 9px 64px -4px #76767640;
}

.service-item__images {
    overflow: hidden;
}

.service-item:hover .service-item__thumb {
    transform: scale(1.2);
}

.service-item__thumb {
    display: block;
    width: 370px;
    height: 318px;
    object-fit: cover;
    transition: .25s;
}

.service-item__body {
    background-color: #fff;
    padding: 24px 18px;
}

.service-item__heading {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-color);
}

.service-item__desc {
    margin-top: 18px;
}




